.introduction-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 90px;
  padding-right: 45px;
  & span {
    font-size: 1.2rem;
  }
  & a {
    text-decoration: none;
    font-weight: bold;
    color: #0072b1;
  }
}
.introduction-content__block {
  display: flex;
  padding-bottom: 90px;
  & img {
    padding-right: 5px;
  }
}
.content-introduction {
  background-color: #f2f5f8;
}
.introduction-content {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  border-bottom: 1px solid #d9dadd;
  padding-bottom: 30px;
}
