.list-courses {
  line-height: 3rem;
  align-items: center;
}
.button-icons {
  line-height: 3rem;
  font-size: 2rem;
}
.course-name {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
